@model IEnumerable<Automotora3.Models.Sucursales>

@{
    ViewData["Title"] = "Index1";
}

<h1>Visite Nuestras Sucursales</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dueño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dueño)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>

            </tr>
        }
    </tbody>
</table>